.recipe-card {
    background: #f8f9fa;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(45% - 20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.recipe-details {
    margin-top: 10px;
}

.recipe-details h3 {
    margin: 10px 0;
    color: #ff6347;
}

.recipe-details p {
    margin: 5px 0;
}

.recipe-details a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.recipe-details a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .recipe-card {
        width: 100%;
    }
}